---
import { menuMain } from "~/data/menus";
const currentYear = new Date().getFullYear();
import { siteName } from "~/data/config";
---

<footer class="bg-red-700 text-white">
	<div class="container pt-16 pb-8">
		<p class="text-center font-bold text-4xl  text-stone-100">Art Cafe <span class="text-stone-200  text-2xl"> &nbsp;Espresso Bar </span></p>
		<nav class="flex flex-col sm:flex-row items-center justify-center gap-x-12 gap-y-3 font-medium mt-6" aria-label="Footer">
			{
				menuMain.map((item) => (
					<a href={item.url} class="hover:underline">
						{item.name}
					</a>
				))
			}
		</nav>
		<p class="mt-10 text-center text-sm">&copy; {currentYear} {siteName}. Website created by <a href="https://designsbychris.gr/" class="underline">designsbychris.gr</a>.<br> </p>
	</div>
</footer>
